body{
  background: rgb(243, 201, 15);
  background: linear-gradient(132deg, #e0089f 0%, rgb(124, 177, 2) 25%, rgba(127,203,166,1) 50%, rgba(253,251,45,1) 100%);}
    h1{
      color: 	#2600ff;
      /* -webkit-text-stroke: 0.001px rgba(0,0,0,0.5);
      ; */
      font-family: 'Jura', sans-serif;
    }
    p{font-family: 'Jost', sans-serif;}
    h5{font-family: 'Russo One', sans-serif;}
    .lab1 {color: red;}
    .padding_lab {
      padding-top: 5%;
    }
    .lab2{
      color:#ffb514
    }

    .lab3{
      color: #d8db00;
    }
    .telegram {color: rgb(0, 136, 204)}
    .fire {border-image: url(../img/12.jpg);}
    .telegalang {color: white;
                background-color: rgb(0, 162, 255);}
    .new {position: absolute;
    top: 0;
    left: 0;
  }
  .arrowrr {color: rgb(224, 228, 8);}
  .arrowll {color: rgba(127,203,166,1);}
    
  
